#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}

#intro-overlay video {
    width: 200px;
    height: auto;
}

#intro-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.options {
    width: 570px;
    height: 467px;
    background-color: #4a5942;
    padding: 5px;
    border-radius: 0px;
    position: relative;
    border-top: 1px solid #8C9284;
    border-left: 1px solid #8C9284;
    border-right: 1px solid #292C21;
    border-bottom: 1px solid #292C21;
}

.panel {
    height: 363px;
}

.logo {
    width: 25px;
    height: auto;
    margin-top: 0px;
}

#titlenick {
    margin-top: -5px;
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 15px;
}

.bottom {
    margin-top: 4px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 9px;
    right: 10px;
}

#bottomtusic {
    width: 72px;
    text-align: left;
    margin-left: auto;
}

.kapamatusu,
.bottomtus {
    margin-left: auto;
}

.visitsinop {
    text-decoration: none;
    color: white;
}